div{
    display: inline-block;
}
.card{
    height: auto;
    width: 200px;
    margin: 10px;
    border-radius: 25px;
    border: solid black;
}
img{  
    width: 100%;
}
#men{
    box-shadow: 0px 3px 15px cornflowerblue;
}
#women{
    
    box-shadow: 0px 3px 15px yellow;
    
}
h4{
    padding: 4px;
}
#men:hover{
    box-shadow: 0px 6px 30px;
}
#women:hover{
    box-shadow: 0px 6px 30px;
}
#zero{
    background-color: yellow;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
#one{
    background-color: cornflowerblue;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}