h2{
    color: chocolate;
}
span{
    color: olive;
}

.class{
    display: flex;
    justify-content: space-around;
}
.card{
    border: 2px solid;
    border-radius: 25px;
    margin: 5px;
    width: 400px;
    padding: 10px;
}
img{
    border-radius: 25px;
    width: 100%;
}

h4{
    text-align: right;
    color: #3c787e;
}

#pets{
    display: flex;
    justify-content: space-evenly;
}

@media (max-width:375px){
    #pets{
        flex-wrap: wrap;
    }
}